# Using Android gitignore template
# Keep temporary gradle files and object caches ignored
.gradle/
build/intermediates/
build/tmp/
app/build/intermediates/
app/build/tmp/
app/build/generated/

# Allow compiled APK
!*.apk
!app/build/outputs/apk/debug/app-debug.apk

# Local configuration file (sdk path)
local.properties

# Log Files
*.log

# IntelliJ / Android Studio
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/caches

.externalNativeBuild
.cxx/
