# Using Android gitignore template
.gradle/
**/build/
!**/*.apk

# Local configuration file (sdk path)
local.properties

# Log Files
*.log

# IntelliJ / Android Studio
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/caches

.externalNativeBuild
.cxx/
